body {
    margin: 0;
    background-size: cover;
}
PAGE_TEXT { 
    font-family: Bahnschrift;
    font-size: 125%;
    font-weight: lighter;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0; 
    background: black;
    color: white;
    width: 100%;
    padding: 10px;
    text-align: center;
    font-size: 20px;
}
.navigation {
    margin: 0 auto;
    background-color: black;
    display: flex;
}
.navigation a {
    color: white;
    display: inline-flex;
	align-items: center;
	justify-content: center;
	position: relative;
    float: left;
    background-color: black;
    text-decoration: none;
    font-size: 35px;
    width: 100%;
    height: 100%;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
}
.navigation a:hover {
    background-color: white;
    color: black;
}
.logo_img {
    width: 8%;
}
.animated_img {
    width: 200px;
    position: relative;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
}
.description {
    margin:0 auto;
    margin-top: 25px;
    margin-left: 550px;
    margin-right: 550px;
    border: dashed;
    padding: 10px;
    display:inline-flex;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
    color: white;
}
.description_last {
    margin:0 auto;
    margin-top: 25px;
    margin-left: 550px;
    margin-right: 550px;
    border: dashed;
    padding: 10px;
    display:inline-flex;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
    color: white;
    margin-bottom: 75px;
}
.content {
    margin-top: 25px;
    margin-left: 25px;
    color: white;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
}
.content_image {
    width: 20%;
    border: 3px solid orange;
    border-radius: 10px;
    -webkit-transition: all .3s;
	-o-transition: all .3s;
}
a {
    color: orange;
}
.video_content {
    height: 90%;
}
.animated_img:hover, .description:hover, .description_last:hover, .content_image:hover
{
    box-shadow: 0px 0px 150px black;
    -webkit-transition: all 200ms ease-in;
    -webkit-transform: scale(1.05);
}
@media (min-width: 700px) and (max-width: 1450px) {
	.description {
		margin-left: 0;
        margin-right: 0;
	}
    .description_last {
		margin-left: 0;
        margin-right: 0;
	}
    img:hover, .description:hover, .description_last:hover {
        -webkit-transform: scale(1);
    }
    .video_image {
        width: 20%;
    }
    .navigation a {
        font-size: 20px;
    }
    .footer {
        font-size: 20px;
    }
    video {
        width: 100%;
    }
}
@media (min-width: 0px) and (max-width: 700px) {
	.description {
		margin-left: 0;
        margin-right: 0;
        border: 0;
        font-size: 70%;
	}
    .description_last {
		margin-left: 0;
        margin-right: 0;
        border: 0;
        font-size: 70%;
	}
    img:hover, .description:hover, .description_last:hover {
        -webkit-transform: scale(1);
    }
    .navigation a {
        font-size: 15px;
    }
    .video_image {
        width: 55%;
    }
    .logo_img {
        width: 0px;
    }
    .footer {
        font-size: 15px;
    }
    video {
        width: 100%;
    }
}